@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* body *{
    border: 1px solid lightgray;
} */

body> *{
    margin: 30px auto 0;
    width: 100%;
    text-align: center;
    font-family: 'NanumSquare';
    color: #484848;
}

h1{
    font-size: 30px;
    font-family: 'RIDIBatang';
}

body> p{
   margin-top: 2rem;
   font-family: 'Jeju Myeongjo', serif;
}

.login_order{
    margin-top: 3rem;
    text-align: left;
    /* padding: 0 40rem; */
    width: 70%;
}

.login_order label{
    font-size: 18px;
}

.login_order label span{
    color: lightcoral;
}

.login_order div{
    margin: 0.5rem 0 1.5rem;
}

.login_order div input{
    width: 100%;
    padding: 0.3rem;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.login_order div p{
    font-size: 14px;
    line-height: 1.3;
    color: lightcoral;
    margin-top: 0.3rem;
}

.login_order div button{
    background-color: transparent;
    padding: 0.5rem 1rem;
    margin: 0.3rem 0;
    border: 1px solid lightgray;
    border-radius: 20px;
    font-size: 14px;
}

.login_order div button:hover{
    background-color: lightcoral;
    color: white;
    border: 1px solid white;
}

.tel_con {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.login_order .tel_con input{
    width: calc(100% / 3 - 80px);
}

body > button{
    padding: 0.5rem;
    font-size: 20px;
    background-color: lightcoral;
    color: white;
    border: none;
    cursor: pointer;
}

.pop{
    position: absolute;
    text-align: center;
    padding: 0.5rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 30%;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    z-index: 10;
    display: none;
}

.pop.on{
    display: block;
}

.pop button{
    position: absolute;
    top: -20%;
    right: 0;
    background-color: white;
}