@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


:root{
    --main_color1 :#52312C;
    --main_color2 : #82563D; 
    --main_color3 : #E4CEB7; 
    --main_color4 : #FDF3E9; 
    --point_color1 : #AC2F3D;
    --point_color2 : #F8893F;
    --point_color3 : #A0D468;
    --ft_color1 : #484848;
    --ft_color2 : #F2F2F2;
  }
  

/* body{
background-image: url(./img/sec_bg.png);
background-size: cover;
background-repeat: no-repeat;
} */

body> *{
    margin: 30px auto 0;
    width: 100%;
    text-align: center;
    font-family: 'NanumSquare';
}

h1{
    font-size: 30px;
    font-family: 'RIDIBatang';
    color: var(--main_color1);
}

body> p{
   margin-top: 2rem;
   font-family: 'Jeju Myeongjo', serif;
   color:  var(--main_color2);
}

.login_order{
    margin-top: 3rem;
    text-align: left;
    padding: 3rem;
    width: 60%;
background-size: contain;
background-repeat: no-repeat;
}

.login_order label{
    font-size: 18px;
    color:  var(--main_color2);
}

.login_order label span{
    color: var(--point_color1);
}

.login_order div{
    margin: 0.5rem 0 1.5rem;
}

.login_order div input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    opacity: 0.5;
}

.login_order div input:focus{
    outline: none;
}

.login_order div p{
    font-size: 14px;
    line-height: 1.3;
    color: var(--point_color1);
    margin-top: 0.3rem;
}

.login_order div button{
    background-color: transparent;
    padding: 0.5rem 1rem;
    margin: 0.3rem 0;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    color: var(--main_color1);
    background-color: var(--main_color4);
}

.login_order div button:hover{
    background-color: var(--main_color1);
    color: var(--main_color4);
}

.tel_con {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.login_order .tel_con input{
    width: calc(100% / 3 - 80px);
}

body > button{
    padding: 0.5rem;
    font-size: 20px;
    background-color: var(--main_color4);
    color: var(--main_color1);
    border: none;
    cursor: pointer;
}

body > button:hover{
    background-color: var(--main_color1);
    color: var(--main_color4);
}

.pop{
    position: absolute;
    text-align: center;
    padding: 0.5rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 30%;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    z-index: 10;
    display: none;
}

.pop.on{
    display: block;
}

.pop button{
    position: absolute;
    top: -20%;
    right: 0;
    background-color: white;
}